<html>
 <head>
   <title>Mail Password Update</title>
 </head>

 <body>
   <H1>Update Mail Password</H1>
   <form action="/admin/password" method="post">
     <div>
       <span>New Password</span>
       <input type="password" name="password_new" value="<%="#{@password_new}"%>">
       <span>(8-32 chars)</span>
     </div>
     <div>
       <span>New Password(Retype)</span>
       <input type="password" name="password_retype" value="<%="#{@password_retype}"%>">
       <span>(8-32 chars)</span>
     </div>
     <div>
       <input type="submit" value="OK">
     </div>
     <input type="hidden" name="nextpage" value="<%="#{pageid(@nextpage)}"%>">
     <input type="hidden" name="sessionid" value="<%="#{@sessionid}"%>">
   </form>
   <p>
     <div>
      <span><%="#{@response}"%></span>
     </div>
   </p>
 </body>
</html>

